body {
  margin: 0;
  font-family: 'Alef';font-size: 22px;
  background-color: #252525;
  color: white;
}

ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #121212;
}

ul {
  display: list-item;
  color: rgb(255, 255, 255);
  padding-left: 6%;
}

ul li a{
  text-decoration: none;
  color: #481fff;
}

ul.navbar li {
  float: left;
}

ul.navbar li a {
  font-family: 'Alatsi';font-size: 22px;
  display: block;
  color:  	#00C000;
  text-align: center;
  font-size: 140%;
  padding: 20px 19px;
  text-decoration: none;
}

ul.navbar li a:hover {
  background-color: #000000;
}

ul.navbar li.right {
  float: right;
}

@media screen and (max-width: 600px) {
  ul.navbar li.right,
  ul.navbar li {
    float: none;
  }
}

h1{
    padding-left: 2%;
    font-family: 'Aldrich';font-size: 52px;
}
h2{
    padding-left: 4%;
    font-family: 'Aldrich';font-size: 32px;
}
h3{
  padding-left: 4%;
  font-family: 'Aldrich';font-size: 18px;
}
p{
    padding-left: 4%;
    padding-right: 4%;
}

aside {
  width: 30%;
  padding-left: 15px;
  margin-left: 15px;
  float: right;
}
img{
  max-width: 90%;
  height: auto;
  border-radius: 50%;
}

.center{
  margin: auto;
  width: 100%;
  text-align: center;
}

.center article h2{
  padding-left: 0%;
}

.link:hover{
color: rgb(240, 240, 240);
}
